<div class="container text-center">

<h1>About Page</h1>
<p>We are DevMatch. Our company focuses on creating an exclusive community
  developers and entrepreneurs to meet.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam, ipsum ratione deserunt sint assumenda expedita deleniti eum iure esse commodi voluptatum praesentium quidem maxime recusandae pariatur laborum vitae. Tempore?</p>    
</div>
